@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    font-family: 'Montserrat', Helvetica, sans-serif;
    box-sizing: border-box;
}

.odds_select {
    background-color: #e8e8e8;
}

.navbar {
    background-color: white;
}

.dark {
    background-color: #291720;
}

.dark .odds_select {
    background-color: grey;
}

p {
    margin: 2px 0;
    font-weight: 400;
}

.time {
    font-size: .7rem;
    align-self: flex-end;
    color: gray;
}

.amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.games {
    margin-bottom: 3rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teams {
    width: 40%;
}

.odds {
    display: flex;
    gap: 5%;
    width: 60%;
    justify-content: space-between;
}

.odds_select {
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 6px 0;
}

.odds .odds_select label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.odds .odds_select label input {
    display: none;
}

.odds .odds_select label span {
    background-color: inherit;
}

.odds .odds_select label input[type='checkbox']:checked~span {
    background: #04A777;
}

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: -7px -7px 12px #e6e6e6,
        7px 7px 12px #ffffff;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    z-index: 1;

}

.betslip-icon {
    height: 4rem;
    width: 4rem;
    background-color: #04A777;
    border-radius: 50%;
    display: grid;
}

.betslip-icon i {
    align-self: center;
    justify-self: center;
    font-style: normal;
}

.betslip-icon .odds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    font-size: 1rem;
}

.betslip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.betslip-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slip-teams {
    display: flex;
    align-items: center;
}

.slip-teams i {
    padding: 1rem;
    color: red;
    cursor: pointer;
}

.team-details {
    display: flex;
    flex-direction: column;
}

.team-details span {
    font-size: .8rem;
    color: gray;
    padding-top: 5px;
}

.slip-odds {
    padding: 0 1rem;
}

.inline {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inline span {
    color: gray;
}

.bet-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bet-amount input {
    padding: 15px 0;
    margin: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.bet-amount input[type=number] {
    background-color: #e8e8e8;
    text-align: right;
    padding-right: 1rem;
}

button {
    background-color: #04A777;
    font-style: normal;
    padding: 15px 0;
    margin: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.slip-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.wrapper {
    position: relative;
    width: 100%;
}

.placeholder {
    font-size: .9rem;
    position: absolute;
    right: 4px;
    padding-left: 2rem;
    top: 1rem;
    pointer-events: none;
    width: 100%;
}

.input:placeholder-shown+.placeholder {
    /* if real placeholder is shown - hide fake placeholder */
    opacity: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-btn {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.username {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    flex-direction: column;
}

.balances,
.transaction {
    margin: 1rem;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    border-radius: 5px
}

.balances i {
    font-size: 2rem;
    padding: 0 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.profile-pic img {
    height: 5rem;
    border-radius: 50%;
    width: 5rem;
    object-fit: cover;
}

.transact-content {
    margin: 1rem;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    border-radius: 5px
}

.transact-content input {
    padding: 15px 0;
    margin: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.transact-content input[type=number],
.wrapper input[type=text] {
    background-color: #e8e8e8;
    text-align: right;
    padding-right: 1rem;
}

.transact-content p {
    font-weight: bold;
    margin: 0.5rem 1rem;
}

.transact-content span {
    margin: 0 1rem;
    color: gray;
}

.nav {
    padding-bottom: 3rem;

}

.btn a {
    text-decoration: none;
    color: #291720;
    background-color: #e8e8e8;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

select {
    padding-right: 1rem;
}

.settings {
    padding: .5rem 1rem;
}

selections {
    display: flex;
    flex-direction: column;
}

/* .selections i{
    padding-right: .5rem;
} */
.selections p {
    font-size: .9rem;
    width: 40%;
    font-weight: normal;
}

.addr {
    background-color: #e8e8e8;
    padding: 15px 0;
    margin: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    width: auto;
    padding-left: 1rem;
}

.fa-angle-up {
    float: right;
}

.copy {
    position: absolute;
    padding-left: 2rem;
    top: 1rem;
    width: 100%;
    right: 5px;
    text-align: end;

}

#trxcode,
#user-address {
    text-align: left;
    padding-left: 1rem;
}

.hash,
.enter-address {
    position: absolute;
    top: 1rem;
}

.address {
    margin: 0 !important;
}

.small {
    font-size: .8rem;
    color: gray;
}

.tut {
    cursor: pointer;
}





i {
    color: #291720;
}

.bet {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.info {
    font-weight: bold;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info span {
    font-weight: lighter;
    font-size: .8rem;
}

.lighter {
    font-weight: lighter;
    width: 45%;
}

.lighter span {
    font-size: .8rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e8e8e8;
    margin: 1em 0;
    padding: 0;
}

.pick {
    color: gray;
}

.scores {
    padding: 0.1rem 0.5rem;
    border-radius: 25px;
    background-color: #04A777;
}








#myProgress {
    width: 100%;
    max-width: 500px;
    background: #F4F4F4;
    box-shadow: inset -1px 1px 2px rgba(200, 200, 200, 0.2), inset 1px -1px 2px rgba(200, 200, 200, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(200, 200, 200, 0.9);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.text {
    position: absolute;
    top: 10px;
    left: 20px;
}

#myBar {
    width: 10%;
    height: 2.6rem;
    background: #04A777;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: 0.5s;
    animation: loading82341 10s ease infinite;
}

@keyframes loading82341 {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    50% {
        width: 40%;
    }

    60% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}
#id_country{
    text-indent: 2rem;
    height: 2.5rem;
    border: none;
}
.country-select-flag{
    position: absolute;
    left: 2rem;
}
.country-select-flag{
    padding-top: .5rem;
}
.settings .fa-angle-down{
    position: absolute;
    padding-top: 2.1rem;
    right: 3rem;
    pointer-events: none;
}

 

select {
    appearance: none;
    outline: 0;
    background: #e6e6e6;
    background-image: none;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.select {
    position: relative;
    display: block;
    width: 80%;
    height: 2.5rem;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
}
.select option{
    text-align: center;
}








