{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bet</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/d48fb8605a.js" crossorigin="anonymous" defer></script>
    

</head>

<body>
    {% if request.user.is_authenticated %}
    {% block content %}
    
    {% endblock content %}
    {%else%}

    <form action="/login/" id="login" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="submit">
    </form>
    <div id="tg"></div>
    {% endif %}
    <script  type="text/javascript">
        var currency="{{user.profile.user_currency}}";
        var decoded=decodeURIComponent("query_id=AAGM0ZYPAAAAAIzRlg9HFz5P&user=%7B%22id%22%3A261542284%2C%22first_name%22%3A%22chris%22%2C%22last_name%22%3A%22ragira%22%2C%22username%22%3A%22IamRagira%22%2C%22language_code%22%3A%22en%22%2C%22allows_write_to_pm%22%3Atrue%7D&auth_date=1701352377&hash=c0355be72b20768ab460af1bf0af1cafce8907d588ccaeb854cf9b4a83fd728a");
        var arr=decoded.split('&');
        var data=JSON.parse(arr[1].split('=')[1]);
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'script.js'%}"></script>
</body>
</html>