{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="navbar">
    <div onclick="makeActive('#games')"><i class="fa-solid fa-house"></i></div>
    <div class="betslip-icon" id="betslip-icon" onclick="makeActive('#slip')"><i class="fa-solid fa-file"></i></div>
    <div onclick="makeActive('#account')"><i class="fa-solid fa-user"></i></div>
</div>
<div class="home" id="home">

    <form method="post" id="betform">
        {%csrf_token%}
        <div class="games nav" id="games">
            {% for match in matches %}

            <div class="container" id="{{match.match_id}}">
                <span class="time">{{match.time|date:"M d, h:i a"}}</span>
                <div class="content">
                    <div class="teams">
                        <p>{{match.home}} </p>
                        <p>{{match.away}}</p>
                    </div>
                    <div class="odds">
                        <div class="odds_select">
                            <label>
                                <input type="checkbox" class="radioCheck" name="{{match.match_id}}" id="{{match.match_id}}-{{match.home}}"
                                    value="home" onclick="updateChecked(this)">
                                <span>{{match.home_odds}}</span>
                            </label>
                        </div>
                        <div class="odds_select">
                            <label>
                                <input type="checkbox" class="radioCheck" name="{{match.match_id}}"
                                    id="{{match.match_id}}-draw" value="draw" onclick="updateChecked(this)">
                                <span>{{match.draw_odds}}</span>
                            </label>
                        </div>
                        <div class="odds_select">
                            <label>
                                <input type="checkbox" class="radioCheck" name="{{match.match_id}}" id="{{match.match_id}}-{{match.away}}"
                                    value="away" onclick="updateChecked(this)">
                                <span>{{match.away_odds}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
        <div class="slip nav hidden" id="slip">
            <div class="betslip" id="betslip">
                <p>Please make a selection</p>


            </div>
            <hr>
            <div class="bet-amount">
                <div class="inline"><span>Balance</span>
                    <p class="account-balance">{{user.profile.user_currency}} {{user.profile.get_balance}}</p>
                </div>
                <div class="inline"><span>Total Odds</span>
                    <p class="total-odds"> 0</p>
                </div>
                <div class="inline"><span>Payout</span>
                    <p class="payout"> 0</p>
                </div>
                <div class="wrapper">
                    <input class="amount" type="number" name="amount" id="amount" value="100"
                        oninput="updateBetslip(this)">
                    <div class="placeholder">Amount</div>
                </div>
                <button id="submitBtn" disabled type="submit">place bet</button>
            </div>
        </div>

    </form>
</div>
<div class="account nav hidden" id="account">
    <div class="username center">
        <div class="profile-pic">
            <img src="{{user.profile.image.url}}" alt="">
        </div>@IamChrisis
    </div>
    <div class="balances space-btn">
        <div class="main-balance center"><i class="fa-solid fa-wallet"></i>
            <div class="column"><span>Balance</span>
                <p>WLD {{user.profile.balance.amount | floatformat:2}}</p> <span
                    class="small">{{user.profile.user_currency}} {{user.profile.get_balance}}</span>
            </div>
        </div>
        <a href="/referrals">
            <div class="referral-balance center"><i class="fa-solid fa-people-group"></i>
                <div class="column"><span>Referral balance</span>{{user.profile.unredeemed_refs}}</div>
            </div>
        </a>
    </div>
    <div class="transact">
        <div class="deposit transact-content">
            <p>Deposit</p>
            <span>Deposit funds to your account</span>
            <form id="deposit-form" action="{% url 'main:trx' %}" method="get">
                <div class="request">
                    <div class="wrapper addr hidden" id="addr">
                        <span class="address" id="dep-address">0xbc0367e2fd8885ccfbb1032f3ceb7905378e8e5e</span>
                        <div class="copy" onclick="copyContent()">
                            <i class="fa-solid fa-copy"></i> COPY
                        </div>
                    </div>
                    <div class="hidden" id="trx">
                        <div class="wrapper">
                            <input type="text" name="trxcode" id="trxcode" onfocus="hideSpan(this)"
                                onfocusout="showSpan(this)" onchange="disableDeposit(this)">
                            <span class="hash">enter transaction hash</span>
                            <div class="copy" onclick="pasteContent(this); disableDeposit(this);">
                                <i class="fa-solid fa-clipboard"></i> PASTE
                            </div>
                        </div>
                        <div>
                            <p class="small tut" onclick="toggleInstructions()"><i
                                    class="fa-regular fa-circle-question"></i>How to find hash</p>
                            <div class="instructions hidden" id="instructions">
                                <ul>
                                    <li>Open the WorldApp</li>
                                    <li>Go to Wallet</li>
                                    <li>Click on history icon</li>
                                    <li>Find the transaction</li>
                                    <li>Click on details</li>
                                </ul>
                            </div>
                            <button disabled type="button" onclick="checkTrx(this)">Confirm Deposit</button>
                        </div>
                    </div>
                    <button type="button" onclick="showAddr(this)" id="showAddrBtn">request deposit address</button>
                </div>

            </form>

        </div>
        <div class="withdraw transact-content">
            <p>withdraw</p>
            <span>withdraw funds from account</span>
            <form action="{% url 'main:trx' %}" method="post">
                {%csrf_token%}
                <div class="wrapper">
                    <input type="text" name="user-address" id="user-address" onfocus="hideSpan(this)"
                        onfocusout="showSpan(this)">
                    <span class="enter-address">enter worldcoin address</span>
                    <div class="copy" onclick="pasteContent(this)">
                        <i class="fa-solid fa-clipboard"></i> PASTE
                    </div>
                </div>
                <div class="wrapper">
                    <input type="number" step=".01" name="withdraw-amount" id="withdraw-amount"
                        oninput="toggleDisable(this)">
                    <div class="placeholder">Amount(WLD)</div>
                </div>
                <button disabled type="submit">withdraw</button>
            </form>
        </div>
        <div class="mybets btn">
            <a href="{% url 'main:mybets' %}">
                <div><i class="fa-solid fa-clock"></i> bet history</div><i class="fa-solid fa-angle-right"></i>
            </a>
        </div>
        <div class="transactions btn">
            <a href="{% url 'main:transactions' %}">
                <div><i class="fa-solid fa-arrow-down-up-across-line"></i> transaction history</div>
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </div>
        <div class="settings btn space-btn">
            {% load countries %}
            {% get_countries as countries %}
            <form method="post" action="/country/" style="width: 100%;">
                {%csrf_token%}
                <i class="fa-solid fa-angle-down"></i>
                {{country_form.as_p}}
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
<div class="betslip-container hidden" id="betslip-container">
    <div class="slip-teams">
        <i class="fa fa-remove" onclick="removeMatch(this)"></i>
        <div class="team-details">
            <p></p>
            <span class="pick"></span>
            <span class="time2"></span>
        </div>
    </div>
    <div class="slip-odds">

    </div>
</div>
{% endblock content %}