{%extends 'main/base.html'%}
{%block page%}
<p>My Transactions</p>
{%endblock%}
{% block content %}
<div class="detail-container">
{% for transaction in transactions%}
{% if transaction.type == 'with' or transaction.type == 'depo' %}
<div class="transaction">
    <div class="info">#{{transaction.id}} <p>{{transaction.get_type_display}}</p></div>
    <div class="info"><span>{{transaction.created|date:"M d, h:i a"}}</span> <p> Amount: <span style="font-size: .8rem;font-weight: normal;">WLD</span> {{transaction.amount.amount}}</p></div>

</div>
{%endif%}
{%endfor%}
</div>
<script>Telegram.WebApp.BackButton.show();
Telegram.WebApp.BackButton.onClick(document.location.href = '/');

</script>
{% endblock content %}